.pagination {
	margin-bottom: 15px;
}
#txttest {
    position: absolute;
    visibility: hidden;
    font-size:11px;
    font-weight:bold;
    height: auto;
    width: auto;
    white-space: nowrap; 
}
.waypoint {
    background: #ffffff;
    opacity:0.8;
    color:#000000;
    font-size:11px;
    font-weight:bold;
    margin:0px 1px 0px 1px;
    padding:0px;
    width:100%;
    border-radius: 0px 3px 3px 3px;
    border:1px #000000 solid;
    }
.waypoint:before {
  content: ' ';
  width: 0;
  opacity:1;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 5px 5px;
  border-color: transparent transparent transparent #000000;
  left: 0;
  top: 0;
  position: absolute;
}
.missedwpt {
    background: #cc0000;
    opacity:0.6;
    color:#000000;
    font-size:11px;
    font-weight:bold;
    margin:0px;
    padding:0px;
    width:100%;
    border:1px #000000 solid;
    }
.pilot {
    background: #ffff00;
    opacity:0.6;
    color:#000000;
    font-size:11px;
    font-weight:bold;
    margin:0px;
    padding:0px;
    width:100%;
    border:1px #000000 solid;
    }
.animate {
    background: transparent;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity:1.0;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    margin:0px;
    padding:0px;
    width:100%;
    border:0px;
    }
.trackmap {
    width:100%;
    height:100%;
    }
.map_control {
    border:solid black 2px;
    background-color:yellow;
    opacity: 0.70;
    color:black;
    font-family:Arial, Helvetica, Bold, sans-serif;
    font-size:11px;
    text-align:left;
    margin:5px;
    padding:3px;
}
.map_panel {
    border:solid #AAA 2px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, .8);
    color:black;
    font-family:Arial, Helvetica, Bold, sans-serif;
    font-size:12px;
    text-align:left;
    margin:10px;
    padding:0px;
}
.play {
    border:solid grey 1px;
    border-radius: 5px;
    background-color:white;
    opacity: 1;
    color: black;
    font-family: Arial, Helvetica, Bold, sans-serif;
    font-size: 2.2em;
    line-height: 1;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.play td {
    margin: 0px 9px 0px 9px;
    padding: 0px 9px 0px 9px;
}
.play td:hover {background-color:#f5f5f5;}
.comp_header {
    float: left;
}
.task_waypoints {
    float: right;
}
.form_param {
    line-heifght: 1;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}
#expandtab {
    margin: 0px;
    font-size: 10em;
}
#waypoints td:hover {
    cursor:move;
}
.dt-bold {
    font-weight: bold;
}
.white-bold {
    color:#fff;
    font-weight: bold;
}
.black-bold {
    color:#000;
    font-weight: bold;
}
.pink-bold {
    color:#FFB6C1;
    font-weight: bold;
}
.yellow-bold {
    color:#FFFF00;
    font-weight: bold;
}
.blue-text {
    color:#3333CC;
    font-size:small;
}
@media (max-width: 576px) { .modal-dialog.modal-dialog-slideout {width: 80%}}
body {
  padding-top: 54px;
  background: rgb(68,110,155);
  background: linear-gradient(90deg, rgba(68,110,155,0.1474790599833683) 0%, rgba(255,255,255,1) 50%, rgba(68,110,155,0.15028018043154767) 100%); 
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
@media only print {
    a { color: #000; text-decoration: none; }
    a:hover,a:visited { color:#000; text-decoration: none; }
    .btn { outline: none; }
}
.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spinner {
    // The height here is just for demo purposes
    height: 20vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;    

    &::before {
        animation: 2s linear infinite spinner;
        border: solid 3px #eee;
        border-bottom-color: #EF6565;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}
.trackInfo
{
    border:none;
    background-color:rgba(255, 255, 255, .7);
    color:black;
    padding:6px;
}

